{% extends 'products/base.html' %}

{% block content %}

<form method="post" class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <div><H3>Восстановление пароля</H3></div>
                <div>
                    {% csrf_token %}
                    <div class="col-6 mb-5">
                        <input type="text" name="email">
                        </div>
                        <div class="col-6 mb-5">
                            <button type="submit" class="btn btn-outline-success">Восстановить пароль</button>
                        </div>
                    </div>

            </div>
        </div>
    </div>

</form>
{% endblock %}